// variables
$grey: #424242;
$lightGrey: #E6E6E6;
$blue: #00BFFF;

// mixins
@mixin roundedEdges($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin transition($duration) {
	transition: all $duration linear;
	-moz-transition: all $duration linear;
	-o-transition: all $duration linear;
	-webkit-transition: all $duration linear;
}


// whole doc
html, body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 3.0em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2.0em;
}


// class stylings
.center {
	margin: 0 auto;
}

.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}

.rounded {
	@include roundedEdges(25px);
}

.active {
	color: $blue;
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.80);
	img {
		position: fixed;
		left: 10%;
		right: 10%;
		top: 50%;
		width: 80%;
		height: auto;
		transform: translate(0%,-50%);
		-moz-transform: translate(0%,-50%);
		-o-transform: translate(0%,-50%);
		-webkit-transform: translate(0%,-50%);	
	}
}

// tag stylings
header {
	background-color: $grey;
	height: 40px;
	color: #FFF;

	nav {
		width: 90%;
		height: inherit;
	}
	
	p, ul {
		display: inline-block;
		vertical-align: baseline;
	}

	p {
		height: inherit;
		line-height: 40px;
		font-size: 1.5em;
	}
	
	ul {
		height: inherit;
		float: right;
		li {
			display: inline;
			i {
				margin: 4px 2px 0;
			}
		}
/*		
		li a:hover::before {
			position: absolute;
			border: solid;
			border-color: $grey transparent;
			border-width: 0 10px 10px 10px;
			margin: 45px 0 0 4px;
			content: "";			
		}
		li a:hover::after {
			position: absolute;
			content: attr(data-link);
			width: 150px;
		}
*/	
	}
}

.container {
	padding: 10px 0;
	color: $grey;
	nav {
		width: 60%;
		margin-left: 20%;
		text-align: center;
		li {
			//background-color: $lightGrey;
			font-size: 2.0em;
			cursor: pointer;
		}
	}
	article {
		padding-top: 10px;
		text-align: center;
		div {
			padding: 0 10px;
			display: none;
		}
		#bio {
			figure,#profile-pic {
				display: none;
			}
			p:first-letter {
				font-size: 1.8em;
			}
		}
		#projects, #curriculum {
			font-size: 1.25em;
			a {
				color: $blue;
			}
			span {
				display: none;
			}
		}
		#artwork {
			img {
				width: 75%;
				cursor: pointer;
			}
		}
		#animation {
			iframe {
				display: none;
			}
		}
	}
}


// responsive break points
@media screen and (min-width: 401px) {
	.overlay {
		img {
			position: fixed;
			left: 0;
			right: 0;
			top: 10%;
			bottom: 10%;
			width: auto;
			height: 80%;
			min-height: 500px;
			margin: 0 auto;
			transform: translate(0%,0%);
			-moz-transform: translate(0%,0%);
			-o-transform: translate(0%,0%);
			-webkit-transform: translate(0%,0%);
		}
	}
	.container {
		nav {
			li {
				//font-size: 
			}
		}
	}
}


@media screen and (min-width: 801px) {
	header nav {
		width: 80%;
		p {
			font-size: 2.0em;		
		}

		li a:after {
			content: attr(data-link);
			display: inherit;
			font-size: 1.2em;
			padding: auto 5px;
			height: 40px;
		}
	}
	.container {
		font-size: 110%;
		nav, article {
			width: 80%;
			margin-left: 10%;
		}
		nav {
			li {
				display: inline;
				padding: 0 15px;
			}
		}
		article {
			padding-top: 20px;
			margin-top: 20px;
			border-top: 2px solid $grey;
			text-align: left;
			#bio {
				width: 75%;
				margin: 0 auto;
				p {
					margin-left: 110px;
				}
				#profile-pic {
					display: inherit;
					float: left;
					width: 100px;
				}
				figure {
					clear: both;
					display: block;
					text-align: center;
					img {
						display: inline-block;
						width: 150px;
						margin: 25px 1% 0;
					}
				}
			}
			#projects, #curriculum {
				ul {
					width: 500px;
					margin: 0 auto;
				}
				span {
					display: inherit;
					font-size: .8em;
					margin-left: 10px;
				}
			}
			#artwork {
				ul {
					//margin: 0 auto;
				}
				li {
					display: inline;
				}
				img {
					width: 32%;
				}
			}
			#animation {
				iframe {
					margin: 0 auto;
					display: inherit;
					width: 600px;
					height: 337px;
				}
				a {
					display: none;
				}
			}	
		}
	}
}


@media screen and (min-width: 1201px) {
	header nav {
		width: 70%;
	}
	.container {
		font-size: 125%;
		nav, article {
			display: inline-block;
			padding-top: 30px;
			vertical-align: top;
		}	
		nav {
			width: 15%;
			margin-left: 10%;
			border-right: 2px solid $grey;
			padding-right: 20px;
			height: 370px;
			text-align: right;
			li {
				display: block;
				padding: 0;
			}			
		}
		article {		
			width: 65%;
			border-top: none;
			margin: 0;
			text-align: left;			
			#bio {
				width: auto;
				margin: 0;
				p {
					margin-left: 0;
				}
				#profile-pic {
					float: right;
					width: 200px;
				}
				figure {
					clear: none;
					margin-top: 75px;
					img {
						margin: 25px 2% 0;
					}
				}
			}
			#projects, #curriculum {
				ul {
					width: auto;
				}
			}
		}
	}	
}


@media screen and (min-width: 1601px) {

}


// transitions	
header nav, header nav p, .container * {
	@include transition(.15s);
}
