html, body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2.0em; }

.center {
  margin: 0 auto; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.rounded {
  border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-border-radius: 25px; }

.active {
  color: deepskyblue; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .overlay img {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 50%;
    width: 80%;
    height: auto;
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); }

header {
  background-color: #424242;
  height: 40px;
  color: #FFF; }
  header nav {
    width: 90%;
    height: inherit; }
  header p, header ul {
    display: inline-block;
    vertical-align: baseline; }
  header p {
    height: inherit;
    line-height: 40px;
    font-size: 1.5em; }
  header ul {
    height: inherit;
    float: right;
    /*		
    		li a:hover::before {
    			position: absolute;
    			border: solid;
    			border-color: $grey transparent;
    			border-width: 0 10px 10px 10px;
    			margin: 45px 0 0 4px;
    			content: "";			
    		}
    		li a:hover::after {
    			position: absolute;
    			content: attr(data-link);
    			width: 150px;
    		}
    */ }
    header ul li {
      display: inline; }
      header ul li i {
        margin: 4px 2px 0; }

.container {
  padding: 10px 0;
  color: #424242; }
  .container nav {
    width: 60%;
    margin-left: 20%;
    text-align: center; }
    .container nav li {
      font-size: 2.0em;
      cursor: pointer; }
  .container article {
    padding-top: 10px;
    text-align: center; }
    .container article div {
      padding: 0 10px;
      display: none; }
    .container article #bio img {
      display: none; }
    .container article #bio p:first-letter {
      font-size: 1.8em; }
    .container article #projects {
      font-size: 1.25em; }
      .container article #projects a {
        color: deepskyblue; }
      .container article #projects span {
        display: none; }
    .container article #artwork img {
      width: 75%;
      cursor: pointer; }
    .container article #animation iframe {
      display: none; }

@media screen and (min-width: 401px) {
  .overlay img {
    position: fixed;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 10%;
    width: auto;
    height: 80%;
    min-height: 500px;
    margin: 0 auto;
    transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%); } }
@media screen and (min-width: 801px) {
  header nav {
    width: 80%; }
    header nav p {
      font-size: 2.0em; }
    header nav li a:after {
      content: attr(data-link);
      display: inherit;
      font-size: 1.2em;
      padding: auto 5px;
      height: 40px; }

  .container {
    font-size: 110%; }
    .container nav, .container article {
      width: 80%;
      margin-left: 10%; }
    .container nav li {
      display: inline;
      padding: 0 15px; }
    .container article {
      padding-top: 20px;
      margin-top: 20px;
      border-top: 2px solid #424242;
      text-align: left; }
      .container article #bio {
        width: 75%;
        margin: 0 auto; }
        .container article #bio p {
          margin-left: 110px; }
        .container article #bio img {
          display: inherit;
          float: left;
          width: 100px; }
      .container article #projects ul {
        width: 500px;
        margin: 0 auto; }
      .container article #projects span {
        display: inherit;
        font-size: .8em;
        margin-left: 10px; }
      .container article #artwork li {
        display: inline; }
      .container article #artwork img {
        width: 32%; }
      .container article #animation iframe {
        margin: 0 auto;
        display: inherit;
        width: 600px;
        height: 337px; }
      .container article #animation a {
        display: none; } }
@media screen and (min-width: 1201px) {
  header nav {
    width: 70%; }

  .container {
    font-size: 125%; }
    .container nav, .container article {
      display: inline-block;
      padding-top: 30px;
      vertical-align: top; }
    .container nav {
      width: 15%;
      margin-left: 10%;
      border-right: 2px solid #424242;
      padding-right: 20px;
      height: 370px;
      text-align: right; }
      .container nav li {
        display: block;
        padding: 0; }
    .container article {
      width: 65%;
      border-top: none;
      margin: 0;
      text-align: left; }
      .container article #bio {
        width: auto;
        margin: 0; }
        .container article #bio p {
          margin-left: 0; }
        .container article #bio img {
          float: right;
          width: 200px; }
      .container article #projects ul {
        width: auto; } }
header nav, header nav p, .container {
  transition: all 0.15s lnear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear; }
