html, body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.0em; }

.center {
  margin: 0 auto; }

.textCenter {
  text-align: center; }

header {
  background-color: #424242;
  height: 40px;
  color: #FFF; }
  header nav {
    width: 90%;
    height: inherit; }
  header p, header ul {
    display: inline-block;
    vertical-align: baseline; }
  header p {
    height: inherit;
    line-height: 40px;
    font-size: 1.5em; }
  header ul {
    height: inherit;
    float: right;
    /*		
    		li a:hover::before {
    			position: absolute;
    			border: solid;
    			border-color: $grey transparent;
    			border-width: 0 10px 10px 10px;
    			margin: 45px 0 0 4px;
    			content: "";			
    		}
    		li a:hover::after {
    			position: absolute;
    			content: attr(data-link);
    			width: 150px;
    		}
    */ }
    header ul li {
      display: inline; }
      header ul li i {
        margin-top: 4px; }

section {
  color: #424242; }

@media screen and (min-width: 801px) {
  header nav {
    width: 80%; }
    header nav p {
      font-size: 2.0em; }
    header nav li a:after {
      content: attr(data-link);
      display: inherit;
      font-size: 1.2em;
      padding: auto 5px;
      height: 40px; } }
@media screen and (min-width: 1201px) {
  header nav {
    width: 70%; } }
header nav, header nav p {
  transition: all 0.15s lnear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear; }
