// variables
$grey: #424242;

// whole doc
html, body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2.0em;
}

// class stylings
.center {
	margin: 0 auto;
}

.textCenter {
	text-align: center;
}


// tag stylings
header {
	background-color: $grey;
	height: 40px;
	color: #FFF;

	nav {
		width: 90%;
		height: inherit;
	}
	
	p, ul {
		display: inline-block;
		vertical-align: baseline;
	}

	p {
		height: inherit;
		line-height: 40px;
		font-size: 1.5em;
	}
	
	ul {
		height: inherit;
		float: right;
		li {
			display: inline;
			i {
				margin-top: 4px;
			}
		}
/*		
		li a:hover::before {
			position: absolute;
			border: solid;
			border-color: $grey transparent;
			border-width: 0 10px 10px 10px;
			margin: 45px 0 0 4px;
			content: "";			
		}
		li a:hover::after {
			position: absolute;
			content: attr(data-link);
			width: 150px;
		}
*/	
	}
}

section {
	color: $grey;
}

@media screen and (min-width: 801px) {
	header nav {
		width: 80%;
		
		p {
			font-size: 2.0em;		
		}

		li a:after {
			content: attr(data-link);
			display: inherit;
			font-size: 1.2em;
			padding: auto 5px;
			height: 40px;
		}
	}

}

@media screen and (min-width: 1201px) {
	header nav {
		width: 70%;
	}
}

// responsive transition test
@mixin transition($duration) {
	transition: all $duration lnear;
	-moz-transition: all $duration linear;
	-o-transition: all $duration linear;
	-webkit-transition: all $duration linear;
}
	
header nav, header nav p {
	@include transition(.15s);
}
